.entryListItem h2 {
  color: #d17002;
  font-family: "Press Start 2P", Helvetica, sans-serif;
  padding: 5px;
  text-align: center;
  transition: 0.5s;
}
.entryListItem h2:hover {
  color: #b5b6e4;
}
.entryListItemHead {
  color: #908a99;
  display: flex;
  flex-direction: row;
  font-family: "Audiowide", Helvetica, sans-serif;
  justify-content: space-between;
}

.entryListItemContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.entryListItemImg {
  height: 75%;
  margin: 0 auto;
  max-width: 350px;
  width: 50%;
}
.entryListItemImg img {
  padding: 5px;
  height: 100%;
  width: 100%;
}
.entryListItemDetails {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 40%;
}
.entryListItemDetails iframe {
  display: block;
  margin: 5px auto;
  width: 95%;
}
.entryListItemDetails h3 {
  color: #b5b6e4;
  font-family: "Press Start 2P", Helvetica, sans-serif;
}
.entryListItemDetails li {
  font-family: "Audiowide", Helvetica, sans-serif;
  margin: 6px;
}
.entryListItemTopBlock {
  text-align: center;
}
.entryListItemTopBlock ul li:nth-child(even) {
  color: #39c70a;
}
.entryListItemFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}
.entryListItemFooter span {
  align-items: center;
  color: #908a99;
  display: flex;
  flex-direction: column;
  font-family: "Audiowide", Helvetica, sans-serif;
  text-align: center;
}
.entryListItemFooter span i {
  padding: 5px;
}

@media only screen and (max-width: 1000px) {
  .entry-list {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .entryListItemImg {
    width: 40%;
  }
  .entryListItemDetails {
    text-align: center;
    width: 55%;
  }
}

@media (max-width: 500px) {
  .entryListItemImg {
    display: none;
  }
  .entryListItemDetails {
    width: 100%;
  }
}
